.top-bar{
	margin-top: 20px;
	margin-bottom:20px;
}



.resx{

	width:100%;
	height: 50%;
	margin-bottom: 100px;
}

.product h4{
	margin-top:15px;
}

.price{
	margin:5px;
	font-size:18px;
}

.price span{
	color: green;
	background: #f4f4f4;
	padding: 10px;
	border: 1px #ccc solid;
	border-radius: 50%;
}

.mast{
	text-align: center;
	margin-top: 100px;
}